<form action="/posts/create" method="post">
	<div>Title: <input type="text" name="title" /></div>
	<div>Body: <textarea name="body" cols="60" rows="10"></textarea></div>
	<div>Author: <input type="text" name="author" /></div>
	<div>Image URL: <input type="text" name="image" /></div>
	<button type="submit">Create Post</button>
</form>