.movies {
	font-family: Helvetica;
}
.movie_picture {
	display: inline-block;
}
.movie_info {
	display: inline-block;
}
.first {
	display: inline-block;
	padding: 20px;
}
.second {
	display: inline-block;
	padding: 20px;
}
.third {
	display: inline-block;
	padding: 20px;
}

.third a {
	text-decoration: none;
	color: black;
}

.second a {
	text-decoration: none;
	color: black;
}
